<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.online.mapper.AdvertDetailMapper">
  <resultMap id="BaseResultMap" type="store.online.entity.AdvertDetail">
    <constructor>
      <idArg column="advert_detail_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="advert_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sort" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="href" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="pic_img" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="create_by" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_by" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remarks" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="begin_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="end_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List">
    advert_detail_id, advert_id, title, sort, href, status, pic_img, create_time, create_by, 
    update_time, update_by, remarks, begin_time, end_time, content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from os_advert_detail
    where advert_detail_id = #{advertDetailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from os_advert_detail
    where advert_detail_id = #{advertDetailId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="store.online.entity.AdvertDetail">
    insert into os_advert_detail (advert_detail_id, advert_id, title, 
      sort, href, status, 
      pic_img, create_time, create_by, 
      update_time, update_by, remarks, 
      begin_time, end_time, content
      )
    values (#{advertDetailId,jdbcType=BIGINT}, #{advertId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{href,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{picImg,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="store.online.entity.AdvertDetail">
    insert into os_advert_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="advertDetailId != null">
        advert_detail_id,
      </if>
      <if test="advertId != null">
        advert_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="href != null">
        href,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="picImg != null">
        pic_img,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="beginTime != null">
        begin_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="advertDetailId != null">
        #{advertDetailId,jdbcType=BIGINT},
      </if>
      <if test="advertId != null">
        #{advertId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="href != null">
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="picImg != null">
        #{picImg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="store.online.entity.AdvertDetail">
    update os_advert_detail
    <set>
      <if test="advertId != null">
        advert_id = #{advertId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="href != null">
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="picImg != null">
        pic_img = #{picImg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where advert_detail_id = #{advertDetailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="store.online.entity.AdvertDetail">
    update os_advert_detail
    set advert_id = #{advertId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      href = #{href,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      pic_img = #{picImg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR}
    where advert_detail_id = #{advertDetailId,jdbcType=BIGINT}
  </update>
</mapper>