<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.online.mapper.NavigationBarMapper">
  <resultMap id="BaseResultMap" type="store.online.entity.NavigationBar">
    <constructor>
      <idArg column="navigation_bar_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="navigation_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="target" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sort" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="href" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="create_by" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_by" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remarks" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    navigation_bar_id, navigation_id, name, target, sort, href, status, create_time, 
    create_by, update_time, update_by, remarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from os_navigation_bar
    where navigation_bar_id = #{navigationBarId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from os_navigation_bar
    where navigation_bar_id = #{navigationBarId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="store.online.entity.NavigationBar">
    insert into os_navigation_bar (navigation_bar_id, navigation_id, name, 
      target, sort, href, 
      status, create_time, create_by, 
      update_time, update_by, remarks
      )
    values (#{navigationBarId,jdbcType=BIGINT}, #{navigationId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{target,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{href,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="store.online.entity.NavigationBar">
    insert into os_navigation_bar
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="navigationBarId != null">
        navigation_bar_id,
      </if>
      <if test="navigationId != null">
        navigation_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="target != null">
        target,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="href != null">
        href,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="navigationBarId != null">
        #{navigationBarId,jdbcType=BIGINT},
      </if>
      <if test="navigationId != null">
        #{navigationId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="href != null">
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="store.online.entity.NavigationBar">
    update os_navigation_bar
    <set>
      <if test="navigationId != null">
        navigation_id = #{navigationId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="href != null">
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where navigation_bar_id = #{navigationBarId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="store.online.entity.NavigationBar">
    update os_navigation_bar
    set navigation_id = #{navigationId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      href = #{href,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where navigation_bar_id = #{navigationBarId,jdbcType=BIGINT}
  </update>
</mapper>