<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.order.mapper.OrderMapper">

    <resultMap id="getOrderVOResultMap" type="store.order.pojo.vo.OrderVO">
        <id column="order_id" property="orderId"/>
        <result column="order_number" property="orderNumber"/>
        <result column="order_status" property="orderStatus"/>
        <result column="order_amount" property="orderAmount"/>
        <result column="shipment_amount" property="shipmentAmount"/>
        <result column="shipment_type" property="shipmentType"/>
        <result column="shipment_time" property="shipmentTime"/>
        <result column="pay_amount" property="payAmount"/>
        <result column="invoice_title" property="invoiceTitle"/>
        <result column="invoice_type" property="invoiceType"/>
        <result column="pay_type" property="payType"/>
        <association property="orderShipment" javaType="store.order.entity.OrderShipment">
            <id column="order_shipment_id" property="orderShipmentId"/>
            <result column="user_name" property="userName"/>
            <result column="user_phone" property="userPhone"/>
            <result column="province_name" property="provinceName"/>
            <result column="city_name" property="cityName"/>
            <result column="district_name" property="districtName"/>
            <result column="user_address" property="userAddress"/>
        </association>
        <collection property="orderProducts" ofType="store.order.entity.OrderProduct">
            <id column="order_product_id" property="orderProductId"/>
            <result column="product_number" property="productNumber"/>
            <result column="price" property="price"/>
            <result column="buy_number" property="buyNumber"/>
            <result column="name" property="name"/>
            <result column="pic_img" property="picImg"/>
        </collection>
        <collection property="orderStatusList" ofType="store.order.entity.OrderStatus">
            <id column="order_status_id" property="orderStatusId"/>
            <result column="orderStatusList" property="orderStatus"/>
            <result column="create_time" property="createTime"/>
        </collection>
    </resultMap>

    <select id="getOrderVO" resultMap="getOrderVOResultMap">
        SELECT o.order_id,
               o.order_number,
               o.order_status,
               o.order_amount,
               o.shipment_amount,
               o.shipment_time,
               o.shipment_type,
               o.pay_amount,
               o.pay_type,
               o.invoice_title,
               o.invoice_type,
               s2.order_status_id,
               s2.order_status as orderStatusList,
               s2.create_time,
               p.order_product_id,
               p.product_number,
               p.price,
               p.buy_number,
               p.name,
               p.pic_img,
               s1.order_shipment_id,
               s1.user_name,
               s1.user_phone,
               s1.province_name,
               s1.city_name,
               s1.district_name,
               s1.user_address
        FROM os_order o
                 LEFT JOIN os_order_shipment s1 ON s1.order_id = o.order_id
                 LEFT JOIN os_order_status s2 ON s2.order_id = o.order_id
                 LEFT JOIN os_order_product p ON o.order_id = p.order_id
        WHERE o.order_number = #{orderNumber}
        AND o.user_id = #{userId}
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(1)
        FROM os_order o
        WHERE
        o.user_id = #{userId}
        AND o.order_status in(${type})
        <if test="search != null">
            AND EXISTS(SELECT
            1
            FROM os_order_product p
            WHERE o.order_id = p.order_id
            AND p.name like "%"#{search}"%"
            AND p.product_number like "%"#{search}"%")
        </if>
    </select>

    <select id="listOrder" resultMap="listOrderResultMap">
        SELECT o.order_id as orderId,
        o.order_number as orderNumber,
        o.user_id as userId,
        o.pay_type as payType,
        o.shipment_time as shipmentTime,
        o.shipment_type as shipmentType,
        o.shipment_amount as shipmentAmount,
        o.invoice_title as invoiceTitle,
        o.invoice_type as invoiceType,
        o.order_status as orderStatus,
        o.order_amount as orderAmount,
        o.pay_amount as payAmount,
        o.buy_number as buyNumber,
        s.user_name as orderShipmentUserName,
        p.order_product_id as orderProductId,
        p.pic_img as picImg,
        p.price,
        p.name,
        p.buy_number as buyNumber
        FROM os_order o
        LEFT JOIN os_order_product p ON o.order_id = p.order_id
        LEFT JOIN os_order_shipment s ON o.order_id = s.order_id
        WHERE o.user_id = #{userId}
        AND o.order_status in (${type})
        <if test="search != null">
            AND (p.name like "%"#{search}"%" or o.order_number like "%"#{search}"%" or p.product_number like
            "%"#{search}"%" )
        </if>
        LIMIT #{pageInfo.offset},#{pageInfo.limit}
    </select>
    <resultMap id="listOrderResultMap" type="store.order.pojo.vo.OrderVO">
        <id column="orderId" property="orderId"/>
        <result column="orderNumber" property="orderNumber"/>
        <result column="userId" property="userId"/>
        <result column="payType" property="payType"/>
        <result column="shipmentTime" property="shipmentTime"/>
        <result column="shipmentType" property="shipmentType"/>
        <result column="shipmentAmount" property="shipmentAmount"/>
        <result column="invoiceTitle" property="invoiceTitle"/>
        <result column="invoiceType" property="invoiceType"/>
        <result column="orderStatus" property="orderStatus"/>
        <result column="orderAmount" property="orderAmount"/>
        <result column="payAmount" property="payAmount"/>
        <result column="buyNumber" property="buyNumber"/>
        <result column="orderShipmentUserName" property="orderShipmentUserName"/>
        <collection property="orderProducts" ofType="store.order.entity.OrderProduct">
            <id column="orderProductId" property="orderProductId"/>
            <result column="picImg" property="picImg"/>
            <result column="price" property="price"/>
            <result column="name" property="name"/>
            <result column="buyNumber" property="buyNumber"/>
        </collection>
    </resultMap>


</mapper>