<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.user.mapper.FavoriteMapper">

    <select id="exists" resultType="int">
    SELECT 1
    FROM os_favorite
    WHERE user_id = #{userId}
      AND product_number = #{productNumber}
  </select>

    <select id="get" resultType="store.user.entity.Favorite">
        SELECT
            product_id as productId,
            status,
            product_number as productNumber,
            user_id as userId,
            name,
            pic_img as picImg,
            show_price as showPrice
        FROM os_favorite
        WHERE product_id = #{productId}
  </select>

    <delete id="delete" >
        DELETE
        FROM os_favorite
        WHERE (product_number = #{productNumber}
        or product_id = #{productNumber})
        AND user_id = #{userId}
    </delete>

</mapper>