<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.user.mapper.UserLoginLogMapper">
  <resultMap id="BaseResultMap" type="store.user.entity.UserLoginLog">
    <constructor>
      <idArg column="log_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="login_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="user_ip" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="operating_system" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="browser" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    log_id, login_time, user_ip, user_id, operating_system, browser
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from os_user_login_log
    where log_id = #{logId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from os_user_login_log
    where log_id = #{logId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="store.user.entity.UserLoginLog">
    insert into os_user_login_log (log_id, login_time, user_ip, 
      user_id, operating_system, browser
      )
    values (#{logId,jdbcType=BIGINT}, #{loginTime,jdbcType=TIMESTAMP}, #{userIp,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{operatingSystem,jdbcType=VARCHAR}, #{browser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="store.user.entity.UserLoginLog">
    insert into os_user_login_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        log_id,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="userIp != null">
        user_ip,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="operatingSystem != null">
        operating_system,
      </if>
      <if test="browser != null">
        browser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        #{logId,jdbcType=BIGINT},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userIp != null">
        #{userIp,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="operatingSystem != null">
        #{operatingSystem,jdbcType=VARCHAR},
      </if>
      <if test="browser != null">
        #{browser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="store.user.entity.UserLoginLog">
    update os_user_login_log
    <set>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userIp != null">
        user_ip = #{userIp,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="operatingSystem != null">
        operating_system = #{operatingSystem,jdbcType=VARCHAR},
      </if>
      <if test="browser != null">
        browser = #{browser,jdbcType=VARCHAR},
      </if>
    </set>
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="store.user.entity.UserLoginLog">
    update os_user_login_log
    set login_time = #{loginTime,jdbcType=TIMESTAMP},
      user_ip = #{userIp,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      operating_system = #{operatingSystem,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=VARCHAR}
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
</mapper>