<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.user.mapper.UserMapper">


    <select id="getUserVOById" resultType="store.user.pojo.vo.UserVO">
        SELECT
            user_number as userNumber,
            user_name as userName,
            real_name as realName,
            sex,
            age,
            pic_img as picImg,
            email,
            telephone
        FROM os_user
            WHERE user_id = #{userId}
    </select>

    <select id="getByLoginName" resultType="store.user.entity.User">
        SELECT
            user_id as userId,
            user_number as userNumber,
            user_name as userName,
            login_password as loginPassword,
            salt,
            real_name as realName,
            sex,
            age,
            pic_img as picImg,
            status,
            email_is_active as emailIsActive,
            email,
            telephone
        FROM os_user
        WHERE user_name = #{loginName}
        OR email = #{loginName}
        OR telephone = #{loginName}
  </select>

</mapper>