<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.product.mapper.CategoryMapper">


    <select id="listCategoriesVO" resultType="store.product.pojo.vo.CategoryVO">
         SELECT category_id      as categoryId,
               name,
               page_title       as pageTitle,
               page_description as pageDescription,
               page_keyword     as pageKeyord,
               parent_id as parentId
        FROM os_category
        WHERE
            status = #{status}
    </select>

    <select id="getCategoryById" resultType="store.product.pojo.vo.CategoryVO">
        SELECT category_id      as categoryId,
               name,
               page_title       as pageTitle,
               page_description as pageDescription,
               page_keyword     as pageKeyord,
               parent_id as parentId
        FROM os_category
        WHERE category_id = #{categoryId}
          AND status = #{status}
    </select>

    <select id="getCategory" resultType="store.product.entity.Category">
        SELECT category_id as categoryId,
               parent_id   as parentId,
               name
        FROM os_category
        WHERE category_id =
              (SELECT category_id
               FROM os_product_category
               WHERE product_id =#{productId})
        AND status = #{status};
    </select>

  <select id="listTopCategoryAdvert" resultType="store.product.pojo.vo.CategoryVO">
    SELECT
        c.category_id as categoryId,
	    c.name,
	    a.category_advert_id as categoryAdvertId,
        a.title,
	    a.href,
	    a.pic_img as picImg
    FROM
        os_category c
    LEFT JOIN

          (
            SELECT
                  a.*
            FROM
                  os_category_advert a
            WHERE
                a.sort = (
                       SELECT
                            max(sort)
                        FROM
                            os_category_advert
                        WHERE
                            category_id = a.category_id
                )
          ) a

            ON c.category_id = a.category_id
    WHERE
       <!-- a.begin_time &lt;= #{advertDate}
    AND a.end_time &gt;= #{advertDate}
    AND -->a.status = #{status}
    AND c.status = #{status}
    AND c.type = #{type}
    AND c.show_in_top = #{showInTop}
    ORDER BY
        c.sort,
        a.sort
  </select>

  <select id="listSubCategoryIds" resultType="long">
    SELECT
        category_id as categoryId
    FROM
        os_category
    WHERE
        STATUS = #{status}
    AND parent_id in (
        SELECT
           category_id
        FROM
           os_category
        WHERE
           category_id = #{categoryId}
        AND status = #{status}
    )
    OR category_id = #{categoryId}
    OR parent_id = #{categoryId}
  </select>

</mapper>