<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.product.mapper.KindAttributeMapper">
  <resultMap id="BaseResultMap" type="store.product.entity.KindAttribute">
    <constructor>
      <idArg column="kind_attr_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="kind_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="spec_attr_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="sort" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_by" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    kind_attr_id, kind_id, spec_attr_id, name, status, sort, create_by, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from os_kind_attribute
    where kind_attr_id = #{kindAttrId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from os_kind_attribute
    where kind_attr_id = #{kindAttrId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="store.product.entity.KindAttribute">
    insert into os_kind_attribute (kind_attr_id, kind_id, spec_attr_id, 
      name, status, sort, 
      create_by, create_time)
    values (#{kindAttrId,jdbcType=BIGINT}, #{kindId,jdbcType=BIGINT}, #{specAttrId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{sort,jdbcType=INTEGER}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="store.product.entity.KindAttribute">
    insert into os_kind_attribute
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="kindAttrId != null">
        kind_attr_id,
      </if>
      <if test="kindId != null">
        kind_id,
      </if>
      <if test="specAttrId != null">
        spec_attr_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="kindAttrId != null">
        #{kindAttrId,jdbcType=BIGINT},
      </if>
      <if test="kindId != null">
        #{kindId,jdbcType=BIGINT},
      </if>
      <if test="specAttrId != null">
        #{specAttrId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="store.product.entity.KindAttribute">
    update os_kind_attribute
    <set>
      <if test="kindId != null">
        kind_id = #{kindId,jdbcType=BIGINT},
      </if>
      <if test="specAttrId != null">
        spec_attr_id = #{specAttrId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where kind_attr_id = #{kindAttrId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="store.product.entity.KindAttribute">
    update os_kind_attribute
    set kind_id = #{kindId,jdbcType=BIGINT},
      spec_attr_id = #{specAttrId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      sort = #{sort,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where kind_attr_id = #{kindAttrId,jdbcType=BIGINT}
  </update>
</mapper>