<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.product.mapper.ProductAttributeMapper">
  <resultMap id="BaseResultMap" type="store.product.entity.ProductAttribute">
    <constructor>
      <idArg column="attribute_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="product_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="stock" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sales_volume" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="page_views" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment_number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment_total" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment_average" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="favorite_number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="question_number" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    attribute_id, product_id, stock, sales_volume, page_views, comment_number, comment_total, 
    comment_average, favorite_number, question_number
  </sql>

  <select id="getProductAttrVO" resultType="store.product.pojo.vo.ProductAttributeVO">
    SELECT comment_average,
           comment_number,
           question_number
    FROM os_product_attribute
    WHERE product_id = #{productId}
  </select>
</mapper>