<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.product.mapper.ProductMapper">

    <select id="listProductVO" resultType="store.product.pojo.vo.ProductVO">
        SELECT p.product_id as productId,
               p.product_number as productNumber,
               p.name,
               p.show_price as showPrice,
               p.show_score as showScore,
               p.introduce,
               p.pic_img    as picImg,
               l.label_name as labelName,
               a.sales_volume
        FROM os_product p
                 LEFT JOIN os_label l ON l.label_id = p.label_id
                 LEFT JOIN os_product_category c ON c.product_id = p.product_id
                 LEFT JOIN os_product_attribute a ON c.product_id = a.product_id
        WHERE p.show_in_shelve = #{showInShelve}
        AND c.category_id IN
        <foreach collection="categoryIds" item="categoryId" separator="," open="(" close=")">
             #{categoryId}
        </foreach>
        <if test="search != null">
            AND (p.name LIKE '%${search}%' OR p.introduce LIKE '%${search}%')
        </if>
    </select>

    <resultMap id="productVOResultMap" type="store.product.pojo.vo.ProductVO">
        <id column="productId" property="productId"/>
        <result column="productNumber" property="productNumber"/>
        <result column="name" property="name"/>
        <result column="showPrice" property="showPrice"/>
        <result column="showScore" property="showScore"/>
        <result column="introduce" property="introduce"/>
        <result column="description" property="description"/>
        <result column="picImg" property="picImg"/>
        <result column="commentNumber" property="commentNumber"/>
        <result column="labelName" property="labelName"/>
        <collection property="comments" ofType="store.product.pojo.vo.Comment">
            <id column="commentId" property="commentId"/>
            <result column="content" property="content"/>
            <result column="userName" property="userName"/>
        </collection>
     </resultMap>
  <select id="getProductVOByNumber" resultMap="productVOResultMap">
        SELECT recommend_product_id as recommentProductId,
               p.product_id         as productId,
               p.product_number     as productNumber,
               p.name,
               p.show_price         as showPrice,
               p.show_score         as showScore,
               p.introduce,
               d.description,
               p.pic_img            as picImg,
               a.comment_number     as commentNumber,
               c.comment_id         as commentId,
               c.content,
               c.user_name          as userName,
               l.label_name         as labelName
        FROM os_product p
                 LEFT JOIN os_product_detail d ON p.product_id = d.product_id
                 LEFT JOIN os_comment c ON p.product_id = c.product_id
                 LEFT JOIN os_label l ON p.label_id = l.label_id
                 LEFT JOIN os_product_attribute a ON p.product_id = a.product_id
                 LEFT JOIN os_product_recommend r ON p.product_id = r.product_id
        WHERE p.product_number = #{productNumber}
  </select>

    <select id="getProductVOById" resultMap="productVOResultMap">
        SELECT recommend_product_id as recommentProductId,
               p.product_id         as productId,
               p.product_number     as productNumber,
               p.name,
               p.show_price         as showPrice,
               p.show_score         as showScore,
               p.introduce,
               d.description,
               p.pic_img            as picImg,
               a.comment_number     as commentNumber,
               c.comment_id         as commentId,
               c.content,
               c.user_name          as userName,
               l.label_name         as labelName
        FROM os_product p
                 LEFT JOIN os_product_detail d ON p.product_id = d.product_id
                 LEFT JOIN os_comment c ON p.product_id = c.product_id
                 LEFT JOIN os_label l ON p.label_id = l.label_id
                 LEFT JOIN os_product_attribute a ON p.product_id = a.product_id
                 LEFT JOIN os_product_recommend r ON p.product_id = r.product_id
        WHERE p.product_id = #{productId}
  </select>
</mapper>