<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.product.mapper.ProductCategoryMapper">
  <resultMap id="BaseResultMap" type="store.product.entity.ProductCategory">
    <constructor>
      <idArg column="product_category_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="product_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="category_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="create_by" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    product_category_id, product_id, category_id, create_time, create_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from os_product_category
    where product_category_id = #{productCategoryId,jdbcType=BIGINT}
  </select>

  <select id="listTopProductByCategoryId"  resultType="store.product.pojo.vo.ProductVO">
    SELECT
        p.product_number as productNumber,
        p.name,
        p.introduce,
        p.show_price as showPrice,
        p.pic_img as picImg,
        l.label_name as labelName,
        a.comment_number as commentNumber
    FROM
        os_product p
    LEFT JOIN
        os_product_category c ON p.product_id = c.product_id
    LEFT JOIN
        os_product_attribute a ON p.product_id = a.product_id
    LEFT JOIN
        os_label l ON p.product_id = p.label_id = l.label_id
    WHERE
        c.category_id in
        <foreach collection="categoryIds" open="(" close=")" separator="," item="categoryId">
            #{categoryId}
        </foreach>
    AND p.show_in_shelve = #{showInShelve}
    AND p.show_in_top = #{showInTop}
    ORDER by
      rand()
    LIMIT #{showNumber}
  </select>

  <select id="listNavByCategoryId" resultType="store.product.pojo.vo.ProductVO">
    SELECT
     p.product_id AS productId,
	        product_number AS productNumber,
	        name,
	        show_price AS showPrice,
	        introduce,
	        pic_img AS picImg
    FROM
        os_product_category c
    LEFT JOIN os_product p ON p.product_id = c.product_id
    WHERE
        c.category_id IN
        <foreach collection="categoryIds" open="(" close=")" separator="," item="category" >
            #{category}
        </foreach>
    AND p.show_in_nav = #{showInNav}
    AND p.show_in_shelve = #{status}
    limit #{showNumber}
  </select>
  <select id="listTopProductByCategory" resultType="store.product.pojo.vo.ProductVO">
    SELECT
        p.product_id AS productId,
        product_number AS productNumber,
        name,
        show_price AS showPrice,
        introduce,
        pic_img AS picImg,
        comment_number AS commentNumber,
        label_name AS labelName
    FROM
       os_product_category c
    LEFT JOIN os_product p ON c.product_id = p.product_id
    LEFT JOIN os_product_attribute a ON c.product_id = a.product_id
    LEFT JOIN os_label l ON l.label_id = p.label_id
    WHERE
        l.status = #{status}
    AND
       c.category_id IN
        <foreach collection="categoryIds" item="categoryId" open="(" close=")" separator=",">
         #{categoryId}
       </foreach>
    AND p.show_in_top = #{showInTop}
    AND p.show_in_shelve = #{status}
    ORDER BY
        rand()
    limit
        #{showNumber}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from os_product_category
    where product_category_id = #{productCategoryId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="store.product.entity.ProductCategory">
    insert into os_product_category (product_category_id, product_id, category_id, 
      create_time, create_by)
    values (#{productCategoryId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="store.product.entity.ProductCategory">
    insert into os_product_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productCategoryId != null">
        product_category_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productCategoryId != null">
        #{productCategoryId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="store.product.entity.ProductCategory">
    update os_product_category
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
    </set>
    where product_category_id = #{productCategoryId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="store.product.entity.ProductCategory">
    update os_product_category
    set product_id = #{productId,jdbcType=BIGINT},
      category_id = #{categoryId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR}
    where product_category_id = #{productCategoryId,jdbcType=BIGINT}
  </update>
</mapper>