<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.product.mapper.ShoppingCartMapper">

    <resultMap id="shoppingCartResultMap" type="store.product.pojo.vo.ShoppingCartVO">
        <id property="userId" column="userId"/>
        <result property="productSpecNumber" column="productSpecNumber"/>
        <result property="userId" column="userId"/>
        <result property="buyNumber" column="buyNumber"/>
        <result property="checkStatus" column="checkStatus"/>
        <result property="stock" column="stock"/>
        <result property="salesVolume" column="salesVolume"/>
        <result property="price" column="price"/>
        <result property="score" column="score"/>
        <result property="name" column="name"/>
        <result property="picImg" column="picImg"/>
        <result property="productNumber" column="productNumber"/>
<!--        <collection property="specificationName" ofType="java.lang.String">-->
<!--            <id column="specAttrName"/>-->
<!--        </collection>-->
    </resultMap>

    <select id="getCart" resultType="store.product.pojo.vo.ShoppingCartVO">
        SELECT
            c.cart_id AS cartId,
            c.product_spec_number AS productSpecNumber,
            c.user_id AS userId,
            c.buy_number AS buyNumber,
            c.check_status AS checkStatus,
            s.product_spec_id as productSpecId,
            s.stock,
            s.sales_volume AS salesVolume,
            s.price,
            s.score,
            p.name,
            p.pic_img AS picImg,
            p.product_number AS productNumber
        FROM
            os_shopping_cart c
        LEFT JOIN os_product_specification s ON c.product_spec_number = s.product_spec_number
        LEFT JOIN os_product p ON s.product_id = p.product_id
        WHERE s.product_spec_number = #{productSpecNumber}
    </select>

    <select id="list" resultMap="shoppingCartResultMap">
        SELECT
            c.cart_id AS cartId,
            c.product_spec_number AS productSpecNumber,
            c.user_id AS userId,
            c.buy_number AS buyNumber,
            c.check_status AS checkStatus,
            s.product_spec_id as productSpecId,
            s.stock,
            s.sales_volume AS salesVolume,
            s.price,
            s.score,
            p.name,
            p.pic_img AS picImg,
            p.product_number AS productNumber
        FROM
           os_shopping_cart c
        LEFT JOIN os_product_specification s ON c.product_spec_number = s.product_spec_number
        LEFT JOIN os_product p ON s.product_id = p.product_id
        <where>
            <if test="userId != null">
                c.user_id = #{userId}
            </if>
            <if test="checkStatus != -1">
                AND c.check_status = #{checkStatus}
            </if>
        </where>
    </select>
</mapper>